@import '~/styles/domain.scss';

button, a {
    cursor: pointer;
}

a {
    text-decoration: none;
}

.regular {
    padding: 8px 16px;
    border: none;
    border-radius: 6px;
    font-weight: 500;
}

.regular-white {
    color: $color-black;
    background-color: $color-white;
}

.regular-dark {
    color: $color-gray;
    background-color: $color-dark;
}

.transparent {
    margin: 0;
    padding: 0;
    border: none;
    background: transparent;
}
