$color-black: #171717;
$color-dark: #262626;
$color-gray: #a1a1aa;
$color-white: #fff;
$color-mindaro: #d2f898;

$color-brand: $color-mindaro;

$font-primary: 'Inter', sans-serif;

$font-size-m: 16px;
$font-size-xm: 20px;
$font-size-l: 32px;
$font-size-xl: 40px;
$font-size-xxl: 48px;
